<!DOCTYPE html>
<html>
    <head>
        <title>
            Toeic
        </title>
        <link href="thanhtv/css/style.css" rel="stylesheet" >
      
    </head>
    <body>
            <div class="container-fluid">
                    <div class="row">                      
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/contracts"><img src="thanhtv/image_sub/contracts.jpg" alt="contracts"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="/listWord/contracts" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>1 - Contracts</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div>
                    <!-- /.col-md-2 -->
                       
                            <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="2" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/marketing"><img src="thanhtv/image_sub/marketing.jpg" alt="marketing"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>2 - Marketing</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="3" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/warranties"><img src="thanhtv/image_sub/warranties.jpg" alt="warranties"> </a>
                                </div>
                                <div class="content-gallery">
                                    <h3>3 - Warranties</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="4" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/businessplanning"><img src="thanhtv/image_sub/business_planning.jpg" alt="business planning"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>4 - Business Planning </h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="5" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/conferences"><img src="thanhtv/image_sub/conferences.jpg" alt="conferences"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>5 - Conferences</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/computersandtheinternet"><img src="thanhtv/image_sub/computers_and_the_internet.jpg" alt="computers and the internet"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="6" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>6 - Computers &amp; the Internet</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="7" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/officetechnology"><img src="thanhtv/image_sub/office_technology.jpg" alt="office technology"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>7 - Office Technology </h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="8" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/officeprocedures"><img src="thanhtv/image_sub/office_procedures.jpg" alt="office procedures"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>8 - Office Procedures</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="9" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/electronics"><img src="thanhtv/image_sub/electronics.jpg" alt="electronics"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>9 - Electronics</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="10" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/correspondence"><img src="thanhtv/image_sub/correspondence.jpg" alt="correspondence"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>10 - Correspondence</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/jobadsandrecruitment"><img src="thanhtv/image_sub/job_ads_and_recruitment.jpg" alt="job ads and recruitment"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="11" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>11 - Job Ads &amp; Recruitment</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="12" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/applyandinterviewing"><img src="thanhtv/image_sub/apply_and_interviewing.jpg" alt="Apply and Interviewing"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>12 - Apply and Interviewing</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="13" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/hiringandtraining"><img src="thanhtv/image_sub/hiring_and_training.jpg" alt="Hiring and Training"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>13 - Hiring and Training</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="14" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/salariesandbenefits"><img src="thanhtv/image_sub/salaries_and_benefits.jpg" alt="Salaries &amp; Benefits"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>14 - Salaries &amp; Benefits</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="15" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/promotionsandawards"><img src="thanhtv/image_sub/promotion.jpg" alt="Promotions &amp; Awards"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>15 - Promotions &amp; Awards</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/shopping"><img src="thanhtv/image_sub/shopping.jpg" alt="shopping"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="16" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>16 - Shopping</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="17" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/orderingsupplies"><img src="thanhtv/image_sub/ordering_supplies.jpg" alt="Ordering Supplies"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>17 - Ordering Supplies</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="18" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/shipping"><img src="thanhtv/image_sub/shipping.jpg" alt="Shipping"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>18 - Shipping</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="19" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/invoices"><img src="thanhtv/image_sub/invoices.jpg" alt="Invoices"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>19 - Invoices</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="20" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/inventory"><img src="thanhtv/image_sub/inventory.jpg" alt="Inventory"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>20 - Inventory</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/banking"><img src="thanhtv/image_sub/banking.jpg" alt="Banking"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="21" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>21 - Banking</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="22" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/accounting"><img src="thanhtv/image_sub/accounting.jpg" alt="Accounting"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>22 - Accounting</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="23" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/investments"><img src="thanhtv/image_sub/investments.jpg" alt="Investments"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>23 - Investments</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="24" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/taxes"><img src="thanhtv/image_sub/taxes.jpg" alt="Taxes"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>24 - Taxes</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="25" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/financialstatements"><img src="thanhtv/image_sub/financial_statements.jpg" alt="Financial Statements"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>25 - Financial Statements</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/propertyanddepartments"><img src="thanhtv/image_sub/property_and_departments.jpg" alt="Property &amp; Departments"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="26" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>26 - Property &amp; Departments</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="27" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/boardmeeting"><img src="thanhtv/image_sub/board_meeting.jpg" alt="Board Meeting"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>27 - Board Meeting</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="28" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/qualitycontrol"><img src="thanhtv/image_sub/quality_control.jpg" alt="Quality Control"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>28 - Quality Control</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="29" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/productdevelopment"><img src="thanhtv/image_sub/product_development.jpg" alt="Product Development"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>29 - Product Development</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="30" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/rentingandleasing"><img src="thanhtv/image_sub/renting_and_leasing.jpg" alt="Renting &amp; Leasing"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>30 - Renting &amp; Leasing</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/selectingarestaurant"><img src="thanhtv/image_sub/selecting_a_restaurant.jpg" alt="Selecting A Restaurant"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="31" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>31 - Selecting A Restaurant</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <a><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="32" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/eatingout"><img src="thanhtv/image_sub/eating_out.jpg" alt="Eating Out"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>32 - Eating Out</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="33" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/orderinglunch"><img src="thanhtv/image_sub/ordering_lunch.jpg" alt="Ordering Lunch"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>33 - Ordering Lunch</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="34" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/cooking"><img src="thanhtv/image_sub/cook.jpg" alt="Cooking As A Career"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>34 - Cooking As A Career</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="35" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/events"><img src="thanhtv/image_sub/events.jpg" alt="Events"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>35 - Events</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/generaltravel"><img src="thanhtv/image_sub/general_travel.jpg" alt="General Travel"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="36" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>36 - General Travel</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="37" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/airlines"><img src="thanhtv/image_sub/airlines.jpg" alt="Airlines"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>37 - Airlines</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="38" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/trains"><img src="thanhtv/image_sub/trains.jpg" alt="trains"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>38 - Trains</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="39" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/hotels"><img src="thanhtv/image_sub/hotels.jpg" alt="hotels"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>39 - Hotels</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <a href="thietlapdanhsachhoc/listTheme/car_rentals"><div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="40" class="fa fa-expand"></a>
                                    </div>
                                    <img src="thanhtv/image_sub/car_rentals.jpg" alt="Car Rentals">
                                </div>
                                <div class="content-gallery">
                                    <h3>40 - Car Rentals</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/movies"><img src="thanhtv/image_sub/movies.jpg" alt="Movies"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="41" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>41 - Movies</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="42" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/theater"><img src="thanhtv/image_sub/theater.jpg" alt="Theater"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>42 - Theater</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="43" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/music"><img src="thanhtv/image_sub/music.jpg" alt="Music"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>43 - Music</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="44" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/museums"><img src="thanhtv/image_sub/museums.jpg" alt="Museums"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>44 - Museums</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="45" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/media"><img src="thanhtv/image_sub/media.jpg" alt="Media"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>45 - Media</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->		
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="gallery-item">
                                <a href="thietlapdanhsachhoc/listTheme/doctorsoffice"><img src="thanhtv/image_sub/doctors_office.jpg" alt="Doctor's Office"></a>
                                    <div class="overlay" style="display: none;">
                                        <a href="46" class="fa fa-expand"></a>
                                    </div>
                                <div class="content-gallery">
                                    <h3>46 - Doctor's Office</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="47" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/dentistsoffice"><img src="thanhtv/image_sub/dentists_office.jpg" alt="Dentist's Office"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>47 - Dentist's Office</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="48" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/health"><img src="thanhtv/image_sub/health.jpg" alt="Health"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>48 - Health</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="49" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/hopitals"><img src="thanhtv/image_sub/hopitals.jpg" alt="Hopitals"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>49 - Hopitals</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div> <!-- /.col-md-2 -->
                        <div class="col-md-2 col-sm-6">
                            <div class="gallery-item">
                                <div class="image">
                                    <div class="overlay" style="display: none;">
                                        <a href="50" class="fa fa-expand"></a>
                                    </div>
                                    <a href="thietlapdanhsachhoc/listTheme/pharmacy"><img src="thanhtv/image_sub/pharmacy.jpg" alt="pharmacy"></a>
                                </div>
                                <div class="content-gallery">
                                    <h3>50 - Pharmacy</h3>
                                </div>
                            </div> <!-- /.gallery-item -->
                        </div><!-- /.col-md-2 -->		
                    </div> <!-- /.row -->
                </div>
    </body>
    <script src='thanhtv/js/jquery'></script>
    <script src='thanhtv/js/handle'></script>
    <script src='thanhtv/js/bootstrap.min'></script>
</html>