<footer>
        
        
    </footer>
</div>
<script type="text/javascript"
    src="/static/libs/jquery-3.1.1_with_migrate-3.0.0_with_bootstrap3.3.7.min.js"></script>
<script type="text/javascript" src="/static/libs/jquery-ui/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="/static/RealEdu/js/template-1842100419.js"></script>
<script>
    var isMobileWeb = false;



    var isFixedMenu = false;

    var isHomePage = '/dashboard/' == '/' ? true : false;
</script>

<script>
    // this is deprecated: we no longer use tooltip notifications
    var showInstructions = false;

    var isMobileBrowser = false;



    var dialogContent = null;
    var dialogNotificationId = null;


    $(".view-all").on("click", function () {
        $("[data-load-toeic]").removeClass("hidden");
        $(this).hide();
    })
</script>
<script type="text/javascript" src="/static/libs/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/static/libs/slick/slick.min.js"></script>
<script type="text/javascript" src="/static/libs/chart.js"></script>
<script type="text/javascript" src="/static/libs/stickbar.js"></script>
<script type="text/javascript" src="/static/LearningPlan/js/dashboard-1842100419.js"></script>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: "956108007815000",
            cookie: true,    // enable cookies to allow the server to access the session
            status: true,  // Check Facebook Login status
            xfbml: true,    // parse social plugins on this page
            version: 'v2.12'
        });

        // do this checking to make sure that FB api is available 
        // a func named "callBackAfterFBInit" needs to be defined above this code 
        // => in the header js of the html that want to execute codes after fb init
        if (typeof callBackAfterFBInit == 'function') {
            callBackAfterFBInit();
        };


    };

    //Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "";
        js.async = true;
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));   
</script>

<script>
    (function () {
        // if firefox 3.5+, hide content till load (or 3 seconds) to prevent FOUT
        var d = document, e = d.documentElement, s = d.createElement('style');
        if (e.style.MozTransform === '') { // gecko 1.9.1 inference
            s.textContent = 'h1,h2{visibility:hidden}';
            var r = document.getElementsByTagName('script')[0];
            r.parentNode.insertBefore(s, r);
            function f() { s.parentNode && s.parentNode.removeChild(s); }
            addEventListener('load', f, false);
            setTimeout(f, 3000);
        }

    })();
</script>

<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', '');

    fbq('init', '1621041464887282');
    fbq('track', "PageView");


    fbq('trackCustom', 'VisitedDashboard');

</script>
<noscript><img height="1" width="1" style="display:none"
        src="" /></noscript>

<noscript>
    <div class="nof">GiasuTOEIC.com works best with JavaScript enabled! To use standard view, enable JavaScript by
        changing your browser options, then try again.</div>
</noscript>
</body>

</html>