<% include ../template/header_dethi %>

<body>


    <!-- start top -->
    


    <div class="width content-container">
        <!-- left sidebar -->
        <div class="sidebar-left">
            <a class="list l4" href="/category/4">&nbsp;</a>
            <a class="list l1" href="/category/1">&nbsp;</a>
            <a class="list l2" href="/category/2">&nbsp;</a>
            <a class="list l3" href="/category/3">&nbsp;</a>
            <img src="/img/left-sidebar.png" />
            <br><span style="float: right;">
                <div class="fb-like" data-href="https://www.toeic123.vn:443/category/4" data-layout="button_count"
                    data-action="like" data-show-faces="true" data-share="true"></div>
            </span>

        </div>
        <!-- end left sidebar -->
        <!-- content -->
        <div class="content">
            <div class="content-box">
                <div class="header">
                    <div class="h3-container">
                        <h3 class="title_link">Thi thử TOEIC</h3>
                        <!--<span>454 bộ đề, 34295 bài tập</span>-->
                        <a class="learn-all" href="/">&lang; Quay trở lại </a>
                    </div>
                </div>
                <div class="infobox">
                    <div class="info">
                        <p>Tổng hợp các bộ đề thi thử <strong><a href="https://www.toeic123.vn/category/20">TOEIC PART
                                    1</a></strong> trong đề thi TOEIC thực tế :</p>

                        <h2>Phần thi thử Toeic Part 1 này bao gồm :</h2>

                        <p><em>- 30 bộ đề thi thử Toeic Part 1 . </em></p>

                        <h2>Giới thiệu sơ về bài thi Toeic Part 1 :</h2>

                        <table border="1" cellpadding="5" cellspacing="0" style="width:100%">
                            <tbody>
                                <tr>
                                    <td style="width:50px"><strong>Phần A</strong></td>
                                    <td style="width:150px"><strong>Nội dung thi</strong></td>
                                    <td style="width:50px"><strong>Số câu</strong></td>
                                    <td><strong>Chi tiết</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>TOEIC PART 1</strong></td>
                                    <td>Hình ảnh</td>
                                    <td>10 câu</td>
                                    <td>Tương ứng với mỗi bức ảnh trong đề thi Toeic Part 1, bạn sẽ được nghe 04 câu mô
                                        tả về nó. Nhiệm vụ của bạn là phải chọn câu mô tả đúng nhất cho bức ảnh.</td>
                                </tr>
                            </tbody>
                        </table>

                        <p>>> Xem thêm các <em><strong><a href="https://www.toeic123.vn/category/4">đề thi
                                        thử</a></strong></em> khác. </p>
                    </div>
                </div>


                <% stt=1; %>


                <div class="box">

                    <% data.forEach(function(dethi) {%>

                    <div class="box-item">
                        <a href="/dethi/part1/<%=dethi._id%>">
                            <div class="img" style="background:url(/upload/2016/08/11524.png); background-size: cover;">
                                <p>0/100</p>
                            </div>
                            <div class="meter"><span style="width: 0%"></span></div>
                            <h4>Bộ đề <%=stt%></h4>

                            <a class="learn" href='/dethi/part1/<%=dethi._id%>'>Luyện ngay</a>
                        </a>
                    </div>

                    <% stt=stt+1; %>
                    <%})%>
                </div>



                <div class="spacing"></div>
            </div>
        </div>
        <!-- end content -->
        <!-- right sidebar -->
        <div class="sidebar-right">

            <div class="sidebar-spacing">&nbsp;</div>

            <div class="sidebar-spacing">&nbsp;</div>


        </div>
        <!-- end right sidebar -->
    </div>
    <% include ../template/footer %>