 <!-- right sidebar -->
        <div class="sidebar-right">
            <div class="links">
                <div class="selected"><a href="/exam/338"><img src="/img/tuvung/link.png">
                        <div class="right">Bài học <div class="meter"><span style="width: 0%"></span></div>
                        </div>
                    </a>
                </div>
            </div>
            <!--<a href="/" target="_blank"><img src="/img/left-sidebar.png" style="height:500px;cursor: pointer;"></a>-->
        </div>

         <%include ../../template/part5footer%>