<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bộ đề 2</title>
    <meta name="description"
        content="Website luyện thi TOEIC trực tuyến số 1 tại Việt Nam. Hơn 14000+ câu hỏi, 500+ bộ đề luyện thi TOEIC có đáp án.Truy cập ngay chỉ với 199k/ 1 năm, luyện thi TOEIC online thoải mái không giới hạn tài liệu">
    <meta property="og:title" content="Bộ đề 2" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.studytienganh.vn" />

    <link href="/css/style.css?v=1555751103" rel="stylesheet">
    <link href="/css/global.css?v=1555751103" rel="stylesheet">
    <link href="/css/meter.css?v=1555751103" rel="stylesheet">
    <link href="/js/jQueryUI/my.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css?v=1.1" rel="stylesheet">
    <link href="/css/responsive.css?v=1.1" rel="stylesheet">
    <script src="/js/jQuery/jQuery-2.1.4.min.js"></script>
    <link rel="icon" href="/upload/2016/05/logo.ico?v=2"" type=" image/x-icon"/> <!-- jQueryUI -->
    <script src="/js/jQueryUI/jquery-ui.min.js"></script>
    <script src="/js/jQueryUI/jquery.ui.touch-punch.min.js"></script>
    <!-- Pagination -->
    <script src="/js/pagination/jquery.twbsPagination.js"></script>
    <!-- Autokey -->
    <script src="/js/autokey.js"></script>
    <!-- JS -->
    <script src="/js/main.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/comment.js"></script>
    <!-- Global site tag (gtag.js) - Google AdWords: 807852125 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-807852125"></script>