<%include ../../template/part5header%>

</head>

<body>
    <!-- start top -->
    <div class="full-width green-bg menu-top">
        <div class="width">
            <ul class="menu-left">
                <li><i class="fa fa-phone"> </i> 0377.867.319</li>
                <li><i class="fa fa-envelope"> </i> <a href="mailto:info@vietcv.net">toeic123.vn@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-facebook"> </i></a></li>
                <li><a href="#"><i class="fa fa-twitter"> </i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"> </i></a></li>
            </ul>
            <ul class="menu-right">
                <li><a href="/news/3/gioi-thieu-ve-chung-toi">Về chúng tôi</a></li>
                <li><a href="/news/4/gioi-thieu-de-thi-toeic-2016">Cấu trúc đề thi toeic</a></li>
                <li><a href="/news/5/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                <li><a href="http://www.studyphim.vn" target="_blank">Phim Engsub</a></li>
            </ul>
        </div>
    </div>
    <div class="width logo-bar">
        <ul class="logo-left">
            <li><a class="current" href="/">Trang chủ</a></li>
            <li><a href="/news/36/gioi-thieu-tinh-nang-tren-website-toeic123vn">Giới thiệu về website</a></li>
            <li><a href="/vip-upgrade?utm_source=Homepage&utm_medium=Menu">|&nbsp;&nbsp;<span class="vip">&nbsp; NÂNG
                        CẤP VIP &nbsp;</span></a></li>

        </ul>
        <ul class="logo-middle">
            <a href="/"><img src="/img/logo1.png" height="35" /></a>
        </ul>
        <ul class="logo-right">
            <li><a href="/profile" class="">Profile</a></li>
            <li><a href="/logout" class="">Thoát</a></li>
        </ul>
    </div>
    <div class="full-width full-body-spacing">
    </div>
    <!-- end top -->

    <div class="width content-container">
        <!-- left sidebar -->
        <div class="sidebar-left">
            <img src="/upload/2016/04/3004.png" width="95%" style="border: 1px solid #ddd;padding: 5px;height:150px;" />
            <h3
                style="font-family: 'UTM Bebas';font-size: 20px;color: #000;margin: 0px;background: #f0f0f0;padding: 1px 2px 3px 12px;">
                Bộ đề 2</h3>
            <div class="back"><a href="/exam/338"><i class="fa fa-chevron-left" aria-hidden="true"></i> Trở lại</a>
            </div>

        </div>
        <!-- end left sidebar -->
        <!-- content -->
        <div class="content">
            <div class="content-box"
                style="min-height: 500px;border:1px solid rgb(240, 240, 240);padding-top: 20px;box-shadow: 0px 0px 20px 1px rgb(240, 240, 240);margin-bottom:130px;">
                <!--<div class="header">
                    <div class="h3-container">
                        <h3>Thi Thử TOEIC PART 5</h3>
                        <span> - Bộ đề 2</span>
                    </div>
                </div>-->
                <form method="POST" class="form qform" id="test" action="/test-submit"><input type="hidden"
                        name="id_exam" value="189863" />
                    <div id="nopbai-kq"></div>
                    <div class="question-body" id="q-14327"><input type="hidden" name="id[]" value="14327" />
                        <div class="question-detail type1">
                            <h3>THI THỬ TOEIC PHẦN READING</h3>
                            <div class="q">
                                <p>In the Reading test, you will read a variety of texts and answer several different
                                    types of reading comprehension questions. The entire Reading test will last 75
                                    minutes. There are three parts, and directions are given for each part. You are
                                    encouraged to answer as many questions as possible within the time allowed. You must
                                    mark your answers on the separate answer sheet. Do not write your answers in the
                                    test book.</p>

                                <p>-------------------------------------------------------------------------------------------
                                </p>

                                <p>PART 5 Directions: A word or phrase is missing in each of the sentences below. Four
                                    answer choices are given below each sentence. Select the best answer to complete the
                                    sentence. Then mark the letter (A), (B), (C), or (D) on your answer sheet.</p>
                            </div>
                            <div class="row">
                                <input class="form-control" type="radio" name="a[0]" value="0"> Tôi đã hiểu nội dung
                                phần thi này</div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10148"><input type="hidden" name="id[]" value="10148" />
                        <h3>câu 101</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Mr. Kurt Spienza appears to be the only person in our team who can finish
                                    the survey by ______</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[1][0]" value="0"> (A) he</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[1][0]" value="1"> (B) him</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[1][0]" value="2"> (C) his</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[1][0]" value="3"> (D) himself</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10149"><input type="hidden" name="id[]" value="10149" />
                        <h3>câu 102</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">All the storage rooms are scheduled to undergo renovations and ______
                                    closed for several days next week.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[2][0]" value="0"> (A) will be</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[2][0]" value="1"> (B) was</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[2][0]" value="2"> (C) are</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[2][0]" value="3"> (D) has been
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10150"><input type="hidden" name="id[]" value="10150" />
                        <h3>câu 103</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Many science majors enter graduate school ------- after completing a
                                    bachelor of science degree</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[3][0]" value="0"> (A) directly
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[3][0]" value="1"> (B) direct</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[3][0]" value="2"> (C) directed
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[3][0]" value="3"> (D) direction
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10151"><input type="hidden" name="id[]" value="10151" />
                        <h3>câu 104</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Many companies interviewed plan to ....... more personnel, while 20
                                    percent expect to reduce their payrolls.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[4][0]" value="0"> (A) reply</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[4][0]" value="1"> (B) detect</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[4][0]" value="2"> (C) construct
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[4][0]" value="3"> (D) hire</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10152"><input type="hidden" name="id[]" value="10152" />
                        <h3>câu 105</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">It seems that laborers in underdeveloped countries would rather have
                                    their children help....... at work than enroll them in school.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[5][0]" value="0"> (A) they </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[5][0]" value="1"> (B) them</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[5][0]" value="2"> (C) themselves
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[5][0]" value="3"> (D) their</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10153"><input type="hidden" name="id[]" value="10153" />
                        <h3>câu 106</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">A new approach to information asset protection will be covered in the
                                    forthcoming March ------- of the magazine.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[6][0]" value="0"> (A) issue</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[6][0]" value="1"> (B) condition
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[6][0]" value="2"> (C) price</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[6][0]" value="3"> (D) promise</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10154"><input type="hidden" name="id[]" value="10154" />
                        <h3>câu 107</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Customers who purchase more than 500 dollars worth of items can request
                                    an HDTV cable box at no ........... charge.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[7][0]" value="0"> (A) additional
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[7][0]" value="1"> (B) addition
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[7][0]" value="2"> (C) adding</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[7][0]" value="3"> (D) additionally
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10155"><input type="hidden" name="id[]" value="10155" />
                        <h3>câu 108</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">------- remain complicated economic problems to be resolved, while the
                                    economic conditions have been good.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[8][0]" value="0"> (A) They</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[8][0]" value="1"> (B) It </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[8][0]" value="2"> (C) There</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[8][0]" value="3"> (D) That</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10156"><input type="hidden" name="id[]" value="10156" />
                        <h3>câu 109</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Mr. Garry Noxon Cfl in accounting was _______ warned about having too
                                    many numerical errors in the budget report</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[9][0]" value="0"> (A) repeat</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[9][0]" value="1"> (B) repeatedly
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[9][0]" value="2"> (C) repeater
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[9][0]" value="3"> (D) repetition
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10157"><input type="hidden" name="id[]" value="10157" />
                        <h3>câu 110</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Employers ------- in obtaining information concerning grants for
                                    technician certification may contact us at the e-mail address below.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[10][0]" value="0"> (A) interested
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[10][0]" value="1"> (B) listed</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[10][0]" value="2"> (C) hopeful
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[10][0]" value="3"> (D) enclosed
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10158"><input type="hidden" name="id[]" value="10158" />
                        <h3>câu 111</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">According to many ------- of the industry, the majority of small-sized
                                    firms are hoping to enter into lucrative businesses.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[11][0]" value="0"> (A) survey</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[11][0]" value="1"> (B) surveys
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[11][0]" value="2"> (C) surveying
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[11][0]" value="3"> (D) surveyed
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10159"><input type="hidden" name="id[]" value="10159" />
                        <h3>câu 112</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">During the one-week promotional period, we offer all the visitors and
                                    customers 10 dollars worth of kitchen appliances ______ free of charge</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[12][0]" value="0"> (A) extremely
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[12][0]" value="1"> (B) exclusively
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[12][0]" value="2"> (C) continually
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[12][0]" value="3"> (D) completely
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10160"><input type="hidden" name="id[]" value="10160" />
                        <h3>câu 113</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">The first step in preparing a fairly -- presentation is to do your
                                    research thoroughly on your topic.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[13][0]" value="0"> (A) informative
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[13][0]" value="1"> (B) inform</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[13][0]" value="2"> (C) information
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[13][0]" value="3"> (D) informer
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10161"><input type="hidden" name="id[]" value="10161" />
                        <h3>câu 114</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">------- understaffed and under tight budget, 911 centers are struggling
                                    to adequately provide emergency assistance to the citizens</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[14][0]" value="0"> (A) Yet</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[14][0]" value="1"> (B) Meanwhile
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[14][0]" value="2"> (C) But</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[14][0]" value="3"> (D) Although
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10162"><input type="hidden" name="id[]" value="10162" />
                        <h3>câu 115</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Applicants for the managerial position _____ to possess high levels of
                                    motivation along with basic computer skills.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[15][0]" value="0"> (A) are required
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[15][0]" value="1"> (B) require
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[15][0]" value="2"> (C) requires
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[15][0]" value="3"> (D) has required
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10163"><input type="hidden" name="id[]" value="10163" />
                        <h3>câu 116</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">The applications submitted will be accepted ------- accompanied by photo
                                    identification.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[16][0]" value="0"> (A) only if
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[16][0]" value="1"> (B) until</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[16][0]" value="2"> (C) not only
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[16][0]" value="3"> (D) since</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10164"><input type="hidden" name="id[]" value="10164" />
                        <h3>câu 117</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">It is likely that ------- of the annual conference will reach an all-time
                                    high this year, with more than 1,000 people planning to attend.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[17][0]" value="0"> (A) attendant
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[17][0]" value="1"> (B) attendance
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[17][0]" value="2"> (C) attended
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[17][0]" value="3"> (D) attendee
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10165"><input type="hidden" name="id[]" value="10165" />
                        <h3>câu 118</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Despite ------- efforts and partial success for the last few years, the
                                    unemployment rate is still on the rise.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[18][0]" value="0"> (A) proficient
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[18][0]" value="1"> (B) considerable
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[18][0]" value="2"> (C) secondary
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[18][0]" value="3"> (D) present
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10166"><input type="hidden" name="id[]" value="10166" />
                        <h3>câu 119</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">A detailed quotation on the ongoing _________ will be provided for free
                                    any time upon request.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[19][0]" value="0"> (A) maintaining
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[19][0]" value="1"> (B) maintenance
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[19][0]" value="2"> (C) maintained
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[19][0]" value="3"> (D) maintains
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10167"><input type="hidden" name="id[]" value="10167" />
                        <h3>câu 120</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Attempts to ------- congestion during peak hours are being made, but seem
                                    to prove unfruitful at the moment.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[20][0]" value="0"> (A) demonstrate
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[20][0]" value="1"> (B) decline
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[20][0]" value="2"> (C) face</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[20][0]" value="3"> (D) ease</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10168"><input type="hidden" name="id[]" value="10168" />
                        <h3>câu 121</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">All the important files were organized first<br /> by color and -------
                                    alphabetized by title and name</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[21][0]" value="0"> (A) since</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[21][0]" value="1"> (B) then</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[21][0]" value="2"> (C) here</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[21][0]" value="3"> (D) much</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10169"><input type="hidden" name="id[]" value="10169" />
                        <h3>câu 122</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Pedestrians and motorists are advised to<br /> obey the traffic signs
                                    posted<br /> ______ Blackroad.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[22][0]" value="0"> (A) against
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[22][0]" value="1"> (B) except</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[22][0]" value="2"> (C) upon</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[22][0]" value="3"> (D) throughout
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10170"><input type="hidden" name="id[]" value="10170" />
                        <h3>câu 123</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">The customer service department is responsible for fulfilling....... from
                                    the public and has to forward them to the chief financial officer</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[23][0]" value="0"> (A) requests
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[23][0]" value="1"> (B) request
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[23][0]" value="2"> (C) requesting
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[23][0]" value="3"> (D) requested
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10171"><input type="hidden" name="id[]" value="10171" />
                        <h3>câu 124</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Editors are extremely busy proofreading, editing and compiling materials
                                    ______ to publication date.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[24][0]" value="0"> (A) suited</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[24][0]" value="1"> (B) conductive
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[24][0]" value="2"> (C) forward
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[24][0]" value="3"> (D) prior</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10172"><input type="hidden" name="id[]" value="10172" />
                        <h3>câu 125</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Customers have the right to...... - the order within 5 business days from
                                    the delivery of the product without providing reasons for the cancellation</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[25][0]" value="0"> (A) weaken</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[25][0]" value="1"> (B) invalidate
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[25][0]" value="2"> (C) verify</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[25][0]" value="3"> (D) weigh</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10173"><input type="hidden" name="id[]" value="10173" />
                        <h3>câu 126</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">As health care becomes<br /> ____ than it was a decade ago, companies are
                                    forced to spend more on benefits.<br /></div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[26][0]" value="0"> (A) as expensive
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[26][0]" value="1"> (B) more
                                    expensive</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[26][0]" value="2"> (C) so
                                    expensively</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[26][0]" value="3"> (D) most
                                    expensively</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10174"><input type="hidden" name="id[]" value="10174" />
                        <h3>câu 127</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">The report on existing home sales showed<br /> an unexpected ------- in
                                    sales last year, but the number of unsold homes has increased.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[27][0]" value="0"> (A) extension
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[27][0]" value="1"> (B) production
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[27][0]" value="2"> (C) grade</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[27][0]" value="3"> (D) rise</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10175"><input type="hidden" name="id[]" value="10175" />
                        <h3>câu 128</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Many researchers are doing research on how to reduce the time it takes
                                    ______ and forget an accident</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[28][0]" value="0"> (A) will
                                    overcome</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[28][0]" value="1"> (B) be overcome
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[28][0]" value="2"> (C) to overcome
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[28][0]" value="3"> (D) has overcome
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10176"><input type="hidden" name="id[]" value="10176" />
                        <h3>câu 129</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Accommodation costs and living _______ will vary, depending on individual
                                    requirements and work locations</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[29][0]" value="0"> (A) budget</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[29][0]" value="1"> (B) prices</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[29][0]" value="2"> (C) credits
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[29][0]" value="3"> (D) expenses
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10177"><input type="hidden" name="id[]" value="10177" />
                        <h3>câu 130</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Speakers should be prepared....... their findings to the audience and be
                                    able to answer câus regarding them.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[30][0]" value="0"> (A) has
                                    presented</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[30][0]" value="1"> (B) presenting
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[30][0]" value="2"> (C) present
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[30][0]" value="3"> (D) to present
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10179"><input type="hidden" name="id[]" value="10179" />
                        <h3>câu 131</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">As real estate prices have _______ dramatically in recent years, buyers
                                    have cancelled new-home contracts.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[31][0]" value="0"> (A) fallen</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[31][0]" value="1"> (B) refused
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[31][0]" value="2"> (C) performed
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[31][0]" value="3"> (D) acquired
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10180"><input type="hidden" name="id[]" value="10180" />
                        <h3>câu 132</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">For years, domestically produced movies have been gaining....... among
                                    people of all ages</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[32][0]" value="0"> (A) elevation
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[32][0]" value="1"> (B) mobility
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[32][0]" value="2"> (C) belief</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[32][0]" value="3"> (D) popularity
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10181"><input type="hidden" name="id[]" value="10181" />
                        <h3>câu 133</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">They are required to inform the human resources department when resigning
                                    due ....... a disagreement over company policy.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[33][0]" value="0"> (A) to</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[33][0]" value="1"> (B) by</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[33][0]" value="2"> (C) on</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[33][0]" value="3"> (D) for</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10182"><input type="hidden" name="id[]" value="10182" />
                        <h3>câu 134</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">No matter how drastically you revise your book, you must include photos
                                    of an artwork that you want to ------- from the previous edition</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[34][0]" value="0"> (A) practice
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[34][0]" value="1"> (B) persist
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[34][0]" value="2"> (C) cooperate
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[34][0]" value="3"> (D) retain</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10183"><input type="hidden" name="id[]" value="10183" />
                        <h3>câu 135</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Employees will be given bonuses and incentives------- depending on their
                                    performance achievements, not based on their relationship with supervisors</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[35][0]" value="0"> (A) exclusive
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[35][0]" value="1"> (B) excluding
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[35][0]" value="2"> (C) exclusively
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[35][0]" value="3"> (D) excluded
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10184"><input type="hidden" name="id[]" value="10184" />
                        <h3>câu 136</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">The internal audit is going to identify operational and financial risks
                                    our company is------- at the moment.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[36][0]" value="0"> (A) facing</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[36][0]" value="1"> (B) progressing
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[36][0]" value="2"> (C) playing
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[36][0]" value="3"> (D) dealing
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10186"><input type="hidden" name="id[]" value="10186" />
                        <h3>câu 137</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">------- inclement weather conditions, employees must arrive at the
                                    beginning of their work shift.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[37][0]" value="0"> (A) Despite
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[37][0]" value="1"> (B) Unless</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[37][0]" value="2"> (C) In order to
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[37][0]" value="3"> (D) As well as
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10187"><input type="hidden" name="id[]" value="10187" />
                        <h3>câu 138</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Refreshments are arranged in the lobby ....... meals will be served
                                    shortly thereafter</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[38][0]" value="0"> (A) such</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[38][0]" value="1"> (B) either</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[38][0]" value="2"> (C) with</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[38][0]" value="3"> (D) and</div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10188"><input type="hidden" name="id[]" value="10188" />
                        <h3>câu 139</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">Donations....... for the purchase of necessities will help provide a
                                    brighter holiday season to people in need.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[39][0]" value="0"> (A) seek</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[39][0]" value="1"> (B) seeking
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[39][0]" value="2"> (C) have sought
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[39][0]" value="3"> (D) being sought
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="question-body" id="10189"><input type="hidden" name="id[]" value="10189" />
                        <h3>câu 140</h3>
                        <div class="multi-question type6">
                            <div class="question-detail type1">
                                <h3></h3>
                                <div class="q">All the accountants are required to compile a report which ....... annual
                                    corporate spending.</div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[40][0]" value="0"> (A) corresponds
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[40][0]" value="1"> (B) expects
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[40][0]" value="2"> (C) details
                                </div>
                                <div class="row">
                                    <input class="form-control" type="radio" name="a[40][0]" value="3"> (D) prepares
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <div class="row align-right question-body" id="nopbai-button">
                        <div onclick="send()" class="next-question"
                            style="text-align:center;padding:10px;margin-right: 0px;">Nộp bài</div>
                    </div>
                </form>
                 <script>
                    function send() {
                        var formData = $("#test").serialize();
                        var base_url = location.protocol + "//" + document.domain + ":" + location.port;
                        $.ajax({
                            type: "POST",
                            url: "/part5/submit",
                            data: formData,
                            dataType: "JSON",
                            success: function (data) {

                                console.log(data.q_list);

                                $('#nopbai-button').html('');// khi nộp bài là nút button biến mất.
                                $('#nopbai-kq').html(data.txt);

                                data.q_list.map(x => {
                                    if (x.result == 1) {
                                        $('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').html('<h3><i class="fa fa-check green"></i> Xin chúc mừng bạn đã trả lời đúng!</h3><p>' + $("<textarea/>").html(x.explain).val() + '</p>');
                                        $('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').addClass('result-box result-correct');
                                    } else {
                                        $('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').html('<h3><i class="fa fa-close red"></i> Rất tiếc bạn đã trả lời sai!</h3><p>' + $("<textarea/>").html(x.explain).val() + '</p>');
                                        $('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').addClass('result-box result-incorrect');
                                    }
                                    $(document).scrollTop($("#test").offset().top);
                                })


                            }
                        });

                    }



                </script>
            </div>
        </div>
        <!-- end content -->