* {
    color: #265077;
    /* rgb(38,80,119) */
    color: #022140;
    /* rgb(2,33,64) */
    color: #494B68;
    /* rgb(73,75,104) */
    color: #1E4258;
    /* rgb(31,66,88) */
    color: #2D5F5D;
    /* rgb(45,94,93) */
    color: #d70504;
    color: #8c6d73;
    color: #6b869b;
    color: #dddbdc;
    /* rgb(221,219,220) */
    color: #080401;
}